/* 전체 배경 */
@font-face {
  font-family: 'MyFont';
  src: url('font/myfont.ttf');
}

#flowerLayer {
  position: absolute;
  inset: 0;
}

body {
  margin: 0;
  overflow-x: hidden;

  min-height: 100vh;

  background-image: url('images/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  font-family: 'MyFont', sans-serif;
}

/* 타이틀 */
.title {
  width: 320px;
  max-width: 80%;

  display: block;
  margin: 20px auto;
}

/* 상단 버튼 */
.top-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;

  margin-bottom: 20px;
}

.top-buttons button {
  font-family: 'MyFont', sans-serif;
  padding: 10px 20px;

  border: none;
  border-radius: 25px;
  border: 3px solid #000000;

  font-size: 20px;
  cursor: pointer;
}

/* 꽃밭 */
#garden {
  position: relative;

  width: min(90vw, 1200px);

  margin: 30px auto;

  justify-content: center;
}

/* 실제 꽃밭 이미지 */
#gardenBg {
  width: 100%;
  height: auto;

  display: block;

  pointer-events: none;
}

/* 꽃 */
.flower {
  position: absolute;

  width: 80px;
  height: 80px;

  object-fit: contain;

  z-index: 2;

  cursor: pointer;
  transition: transform 0.2s;
}

.flower img {
  width: 100%;
  height: 100%;

  object-fit: contain;
}

.flower:hover {
  transform: scale(1.08);
}

.flower-name {
  text-align: center;
  margin-top: 1px;

  font-size: 20px;
  color: #000000;
  font-weight: bold;
}

#flowerLayer {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

/* 모달 */
.modal {
  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0,0,0,0.4);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 999;
}

.hidden {
  display: none;
}

.modal-box {
  width: 350px;
  max-width: 90%;

  background: white;

  border-radius: 24px;
  border: 5px solid #000000;

  padding: 24px;

  text-align: center;
}

.modal-box input {
  width: 100%;
  box-sizing: border-box;

  padding: 12px;
  margin-top: 12px;

  border-radius: 14px;
  border: 1px solid #ddd;
}

.birthday-row {
  display: flex;
  gap: 10px;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

/* 모달 버튼 공통 */
.modal-btn {
  font-family: 'MyFont', sans-serif;

  padding: 0 17px;
  height: 50px;

  background: rgb(239, 239, 239);

  border: 3px solid #000;
  border-radius: 22px;

  font-size: 16px;
  color: black;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
}

.modal-btn:hover {
  transform: scale(1.03);
}

/* 위 버튼 두 개 */
.top-row {
  display: flex;
  justify-content: center;
  gap: 16px;

  margin-top: 25px;
}

/* 아래 닫기 버튼 */
.bottom-row {
  display: flex;
  justify-content: center;

  margin-top: 15px;
}

/* 정보창 */
.info-flower {
  width: 100px;
}

#infoModal {
  font-size: 20px;
  line-height: 0.8;
}

.emoji-buttons {
  display: flex;
  justify-content: center;
  gap: 14px;

  margin-top: 28px;
  margin-bottom: 20px;
}

.emoji-btn {
  background: none;
  border: none;

  cursor: pointer;
}

.emoji-btn img {
  width: 55px;
}

.message-bubble {
  position: absolute;

  bottom: 95px;
  left: 50%;

  transform: translateX(-50%);

  background: white;

  border: 3px solid black;
  border-radius: 20px;

  padding: 8px 14px;

  font-size: 15px;
  font-weight: bold;

  white-space: nowrap;

  z-index: 10;
}

.greeting-list {
  display: flex;
  flex-direction: column;
  gap: 12px;

  margin-top: 20px;
  margin-bottom: 20px;
}

.greeting-option {
  font-family: 'MyFont', sans-serif;

  padding: 14px;

  border-radius: 18px;
  border: 3px solid black;

  background: white;

  font-size: 18px;

  cursor: pointer;
}

.greeting-option:hover {
  transform: scale(1.03);
}

.message-bubble {
  position: absolute;

  bottom: 95px;
  left: 50%;

  transform: translateX(-50%);

  background: white;

  border: 3px solid black;
  border-radius: 20px;

  padding: 10px 14px;

  min-width: 120px;

  z-index: 10;
}

.message-sender {
  font-size: 15px;
  font-weight: bold;

  margin-bottom: 4px;
}

.message-text {
  font-size: 15px;
}

#mailboxList {
  max-height: 300px;

  overflow-y: auto;

  margin-top: 20px;
}

.mail-item {
  background: #fff8f8;

  border: 3px solid #000;

  border-radius: 16px;

  padding: 12px;

  margin-bottom: 12px;

  text-align: left;
}

.mail-sender {
  font-weight: bold;

  margin-bottom: 6px;
}

.mail-text {
  font-size: 17px;
}